# Dependências
node_modules/

# Arquivos compilados
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Arquivos do TypeScript
*.tsbuildinfo